<header class="p-4 flex items-center">
  <div class=" mr-3">
    <.logo />
  </div>
  <.nav socket={@socket} />
</header>
<main class=" min-h-screen flex flex-col">
  <div class="flex items-center justify-center">
    <div class="w-1/12"></div>
    <div class="w-10/12 mx-auto">
      <.flash_group flash={@flash} />
      {@inner_content}
      <.footer />
    </div>
    <div class="w-1/12"></div>
  </div>
</main>
